/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .section {
    margin-bottom: 30px;
    padding-left: 20px; /* Add padding for spacing */
  }
  
  .section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section ul li {
    margin-bottom: 5px;
  }
  
  .section a {
    color: #007bff;
  }
  
  .section a:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
 
   .footer .social-links {
     display: flex;
     gap: 24px;
     justify-content: center;
     padding: 0;
     margin: 20px 0;
   }
   .footer .social-links li {
     list-style: none;
   }
   .footer .social-links a, .footer .social-links i {
     font-size: 2.5em;
     color: #fff;
     transition: color 0.2s, transform 0.2s;
     text-decoration: none;
     display: inline-block;
   }
   .footer .social-links a:hover, .footer .social-links i:hover {
     color: #0077b5;
     transform: scale(1.2);
   }
   .footer .fa-github:hover {
     color: #333;
   }
   .footer .fa-google:hover {
     color: #ea4335;
   }
   .footer .ai-researchgate:hover {
     color: #00CCBB;
   }
   .footer .fa-linkedin:hover {
     color: #0077b5;
   }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .nav-links {
      text-align: center;
    }
  
    .nav-links li {
      display: block;
      margin-bottom: 10px;
    }
  }
  